/* main content styling */
.main-div {
    margin: 25px; 
    padding: 25px; 
    text-align: center;
}
/* timer styling */
#timer { 
    margin-right: 0%;
    margin-left: 30%;
    text-align: left;
}
/* high score link styling */
#hs-link { 
    margin-left: 0%;
    margin-right: 30%;
    text-align: left;
}

/* header styling */
h1 { 
    color: #483D8B; 
}

/* highscore form styling */
.highscore-form {
    margin: 50px; 
}